<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.auction_sys.dao.ProductOrderMapper" >
  <resultMap id="BaseResultMap" type="com.auction_sys.pojo.ProductOrder" >
    <constructor >
      <idArg column="order_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="deposit_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="product_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="bidder_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="payment" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="payment_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="gmt_payment" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_deadline" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_end" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_close" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, deposit_id, product_id, bidder_id, payment, payment_type, status, gmt_payment,
    gmt_deadline, gmt_end, gmt_close, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_order
    where order_id = #{orderId,jdbcType=BIGINT} AND is_deleted !=1
  </select>
  <select id="selectDepositIdByPrimaryKey" resultType="_long" parameterType="java.lang.Long" >
    select
    deposit_id
    from product_order
    where order_id = #{orderId,jdbcType=BIGINT} AND is_deleted !=1
  </select>
  <select id="selectPaymentByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    payment
    from product_order
    where order_id = #{orderId,jdbcType=BIGINT} AND is_deleted !=1
  </select>
  <select id="selectProductIdByPrimaryKey" resultType="_long" parameterType="java.lang.Long" >
  select
  product_id
  from product_order
  where order_id = #{orderId,jdbcType=BIGINT} AND is_deleted !=1
</select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    UPDATE product_order SET is_deleted = 1
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.auction_sys.pojo.ProductOrder" >
    insert into product_order (order_id, deposit_id, product_id, 
      bidder_id, payment, payment_type,
      status, gmt_payment, gmt_deadline,
      gmt_end, gmt_close, gmt_create,
      gmt_modified,is_deleted)
    values (#{orderId,jdbcType=BIGINT}, #{depositId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{bidderId,jdbcType=BIGINT}, #{payment,jdbcType=DECIMAL}, #{paymentType,jdbcType=TINYINT},
      #{status,jdbcType=TINYINT}, #{gmtPayment,jdbcType=TIMESTAMP}, #{gmtDeadline,jdbcType=TIMESTAMP},
      #{gmtEnd,jdbcType=TIMESTAMP}, #{gmtClose,jdbcType=TIMESTAMP},  now(),
            now(),0)
  </insert>
  <insert id="insertSelective" parameterType="com.auction_sys.pojo.ProductOrder" >
    insert into product_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="depositId != null" >
        deposit_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="bidderId != null" >
        bidder_id,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gmtPayment != null" >
        gmt_payment,
      </if>
      <if test="gmtDeadline != null" >
        gmtDeadline,
      </if>
      <if test="gmtEnd != null" >
        gmt_end,
      </if>
      <if test="gmtClose != null" >
        gmt_close,
      </if>
        gmt_create,
        gmt_modified,
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="depositId != null" >
        #{depositId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="bidderId != null" >
        #{bidderId,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtPayment != null" >
        #{gmtPayment,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtDeadline != null" >
        #{gmtDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtEnd != null" >
        #{gmtEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtClose != null" >
        #{gmtClose,jdbcType=TIMESTAMP},
      </if>
        now(),
        now(),
      <if test="isDeleted != null" >
        0,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.auction_sys.pojo.ProductOrder" >
    update product_order
    <set >
      <if test="depositId != null" >
        deposit_id = #{depositId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="bidderId != null" >
        bidder_id = #{bidderId,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtPayment != null" >
        gmt_payment = #{gmtPayment,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtDeadline != null" >
        gmt_deadline = #{gmtDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtEnd != null" >
        gmt_end = #{gmtEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtClose != null" >
        gmt_close = #{gmtClose,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified =  now(),
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auction_sys.pojo.ProductOrder" >
    update product_order
    set deposit_id = #{depositId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      bidder_id = #{bidderId,jdbcType=BIGINT},
      payment = #{payment,jdbcType=DECIMAL},
      payment_type = #{paymentType,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      gmt_payment = #{gmtPayment,jdbcType=TIMESTAMP},
      gmt_deadline = #{gmtDeadline,jdbcType=TIMESTAMP},
      gmt_end = #{gmtEnd,jdbcType=TIMESTAMP},
      gmt_close = #{gmtClose,jdbcType=TIMESTAMP},
      gmt_modified = now(),
     is_deleted = #{isDeleted,jdbcType=TINYINT}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <select id="selectByBidderIdAndOrderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_order
    where bidder_id =#{bidderId,jdbcType=BIGINT} AND order_id  = #{orderId,jdbcType=BIGINT} AND is_deleted != 1;

  </select>


  <update id="updateStatusByOrderIdAndStatus"  >
    update product_order
    set status = #{status1,jdbcType=TINYINT},
    gmt_modified = now()
    where order_id = #{orderId,jdbcType=BIGINT} AND status = #{status2,jdbcType=BIGINT}
  </update>

  <update id="updateStatusAndDeadlineByOrderIdAndStatus"  >
    update product_order
    set status = #{status1,jdbcType=TINYINT},gmt_deadline = #{deadline,jdbcType=TIMESTAMP},
    gmt_modified = now()
    where order_id = #{orderId,jdbcType=BIGINT} AND status = #{status2,jdbcType=BIGINT}
  </update>
  <update id="updateByDepositIdSelective" parameterType="com.auction_sys.pojo.ProductOrder" >
    update product_order
    <set >

      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="bidderId != null" >
        bidder_id = #{bidderId,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtPayment != null" >
        gmt_payment = #{gmtPayment,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtDeadline != null" >
        gmt_deadline = #{gmtDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtEnd != null" >
        gmt_end = #{gmtEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtClose != null" >
        gmt_close = #{gmtClose,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified =  now(),
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where deposit_id = #{depositId,jdbcType=BIGINT}
  </update>
  <select id="selectOrderIdByProductIdAndStatus" resultType="java.lang.Long">
    select
    order_id
    from product_order
    where product_id = #{productId,jdbcType=BIGINT} AND status = #{status,jdbcType=TINYINT}
  </select>

  <select id="selectOrderByProductIdAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_order
    where product_id = #{productId,jdbcType=BIGINT} AND bidder_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectOrderByProductIdAndStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_order
    where product_id = #{productId,jdbcType=BIGINT} AND status = #{status,jdbcType=TINYINT}

  </select>
  <select id="selectPaymentByOrderId" resultType="java.math.BigDecimal">
    select
    payment
    from product_order
    where order_id = #{orderId,jdbcType=BIGINT}

  </select>
  <update id="updateStatusByDepositIdAndStatus"  >
    update product_order
    set status = #{status1,jdbcType=TINYINT},
    gmt_modified = now()
    where status = #{status2,jdbcType = TINYINT} AND deposit_id = #{depositId,jdbcType = BIGINT}
  </update>
  <select id="selectOrderIdByGmtDeadlineAndStatus" resultType="java.lang.Long">
    select
    order_id
    from product_order
    where status = #{status,jdbcType = TINYINT} AND gmt_deadline &lt;=now() AND is_deleted !=1
  </select>
  <select id="selectOrderIdByStatus" resultType="java.lang.Long">
    select
    order_id
    from product_order
    where status = #{status,jdbcType = TINYINT} AND  is_deleted !=1
  </select>
  <update id="deleteByProductId" parameterType="java.lang.Long" >
    UPDATE product_order SET is_deleted = 1
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <select id="getStatusByPrimaryKeyAndUserId" resultType="java.lang.Byte">
    select
    status
    from product_order
    where bidder =#{bidderId,jdbcType=BIGINT} AND order_id = #{orderId,jdbcType=BIGINT} AND is_deleted != 1;

  </select>
</mapper>